<% layout('layouts/boilerplate') %>

<div class="container text-center">
    <h1 class="mt-5">Access Denied</h1>
    <p class="lead mt-3">Sorry, you must be logged in to view this page. Please <a href="/user/login">log in</a> or <a href="/user/register">sign up</a> to access this content.</p>
</div>
